.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    padding: 20px;
    max-width: 600px;
    font-family: Arial, sans-serif;
  }
  
  .login-container h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1.5rem;
  }
  
  .login-form {
    height: 300px;
    width: 400px;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .login-form label {
    display: block;
    font-size: 1rem;
    color: #555;
    margin-bottom: 0.5rem;
  }
  
  .login-form input, .login-form
  select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form input:focus,
  .login-form select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
  }
  
  .login-form button {
    width: 100%;
    padding: 0.75rem;
    background-color: #0056b3;
    color: #ffffff;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
  .register-link {
    text-align: center;
    margin-top: 15px;
  }
  
  .register-link a {
    color: #0056b3;
    text-decoration: none;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }